<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>283.3233643</real>
            <key>y</key>
            <real>419.8350830</real>
        </dict>
        <key>36</key>
        <dict>
            <key>x</key>
            <real>726.5941162</real>
            <key>y</key>
            <real>469.7529602</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>364.1899719</real>
            <key>y</key>
            <real>470.7514038</real>
        </dict>
        <key>35</key>
        <dict>
            <key>x</key>
            <real>750.5543823</real>
            <key>y</key>
            <real>442.7974243</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>462.0288391</real>
            <key>y</key>
            <real>487.7236633</real>
        </dict>
        <key>34</key>
        <dict>
            <key>x</key>
            <real>804.4654541</real>
            <key>y</key>
            <real>406.8565369</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>514.9425049</real>
            <key>y</key>
            <real>472.7482605</real>
        </dict>
        <key>33</key>
        <dict>
            <key>x</key>
            <real>815.4481812</real>
            <key>y</key>
            <real>339.9664001</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>540.8996582</real>
            <key>y</key>
            <real>396.8727417</real>
        </dict>
        <key>32</key>
        <dict>
            <key>x</key>
            <real>779.5067749</real>
            <key>y</key>
            <real>297.0370178</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>524.9257813</real>
            <key>y</key>
            <real>338.9679565</real>
        </dict>
        <key>31</key>
        <dict>
            <key>x</key>
            <real>752.5512695</real>
            <key>y</key>
            <real>266.0877380</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>446.0549927</real>
            <key>y</key>
            <real>275.0730896</real>
        </dict>
        <key>30</key>
        <dict>
            <key>x</key>
            <real>665.6940308</real>
            <key>y</key>
            <real>191.2112122</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>359.1978149</real>
            <key>y</key>
            <real>263.0929871</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>296.3019104</real>
            <key>y</key>
            <real>346.9548950</real>
        </dict>
        <key>29</key>
        <dict>
            <key>x</key>
            <real>624.7615356</real>
            <key>y</key>
            <real>78.3969116</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>474.0089722</real>
            <key>y</key>
            <real>465.7597656</real>
        </dict>
        <key>28</key>
        <dict>
            <key>x</key>
            <real>596.8075562</real>
            <key>y</key>
            <real>61.4246330</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>487.9859314</real>
            <key>y</key>
            <real>367.9203491</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>475.0073853</real>
            <key>y</key>
            <real>298.0354309</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>404.1240540</real>
            <key>y</key>
            <real>314.0092773</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>362.1930847</real>
            <key>y</key>
            <real>404.8596802</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>379.1653748</real>
            <key>y</key>
            <real>454.7775574</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>400.1313782</real>
            <key>y</key>
            <real>554.6132813</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>345.2208252</real>
            <key>y</key>
            <real>569.5886841</real>
        </dict>
        <key>21</key>
        <dict>
            <key>x</key>
            <real>102.6199493</real>
            <key>y</key>
            <real>181.2274170</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>264.3542175</real>
            <key>y</key>
            <real>478.7383118</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>101.6215210</real>
            <key>y</key>
            <real>293.0438232</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>180.4923248</real>
            <key>y</key>
            <real>357.9371033</real>
        </dict>
        <key>22</key>
        <dict>
            <key>x</key>
            <real>156.5310211</real>
            <key>y</key>
            <real>132.3079834</real>
        </dict>
        <key>23</key>
        <dict>
            <key>x</key>
            <real>187.4802856</real>
            <key>y</key>
            <real>119.3294296</real>
        </dict>
        <key>24</key>
        <dict>
            <key>x</key>
            <real>206.4494171</real>
            <key>y</key>
            <real>112.3409348</real>
        </dict>
        <key>25</key>
        <dict>
            <key>x</key>
            <real>322.2590027</real>
            <key>y</key>
            <real>51.4413757</real>
        </dict>
        <key>26</key>
        <dict>
            <key>x</key>
            <real>430.0811462</real>
            <key>y</key>
            <real>46.4492188</real>
        </dict>
        <key>27</key>
        <dict>
            <key>x</key>
            <real>522.9289551</real>
            <key>y</key>
            <real>45.4507904</real>
        </dict>
        <key>37</key>
        <dict>
            <key>x</key>
            <real>802.4696655</real>
            <key>y</key>
            <real>571.5855713</real>
        </dict>
        <key>38</key>
        <dict>
            <key>x</key>
            <real>844.4005737</real>
            <key>y</key>
            <real>585.5625610</real>
        </dict>
        <key>39</key>
        <dict>
            <key>x</key>
            <real>884.3346558</real>
            <key>y</key>
            <real>571.5855713</real>
        </dict>
        <key>40</key>
        <dict>
            <key>x</key>
            <real>906.2980347</real>
            <key>y</key>
            <real>415.8418884</real>
        </dict>
        <key>41</key>
        <dict>
            <key>x</key>
            <real>899.3101196</real>
            <key>y</key>
            <real>325.9894104</real>
        </dict>
        <key>42</key>
        <dict>
            <key>x</key>
            <real>897.3132324</real>
            <key>y</key>
            <real>314.0092773</real>
        </dict>
    </dict>
</plist>
