<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>490.9812317</real>
            <key>y</key>
            <real>397.8711853</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>88.6429672</real>
            <key>y</key>
            <real>615.5133667</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>230.4096680</real>
            <key>y</key>
            <real>603.5332642</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>356.2035522</real>
            <key>y</key>
            <real>601.5363770</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>541.8980713</real>
            <key>y</key>
            <real>596.5447388</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>700.6370239</real>
            <key>y</key>
            <real>594.5479126</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>102.6199493</real>
            <key>y</key>
            <real>386.8894958</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>268.3479309</real>
            <key>y</key>
            <real>395.8743286</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>384.1575317</real>
            <key>y</key>
            <real>396.8727417</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>735.5789795</real>
            <key>y</key>
            <real>419.8350830</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>64.6827316</real>
            <key>y</key>
            <real>264.0914001</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>301.2929993</real>
            <key>y</key>
            <real>266.0877380</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>445.0565491</real>
            <key>y</key>
            <real>274.0746765</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>633.7463379</real>
            <key>y</key>
            <real>311.0139771</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>808.4591675</real>
            <key>y</key>
            <real>344.9585571</real>
        </dict>
    </dict>
</plist>
