<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>19.0000000</real>
            <key>y</key>
            <real>608.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>97.0000000</real>
            <key>y</key>
            <real>601.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>175.0000000</real>
            <key>y</key>
            <real>598.0000000</real>
        </dict>
    </dict>
</plist>
