<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>348.2161255</real>
            <key>y</key>
            <real>202.1929016</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>189.4771423</real>
            <key>y</key>
            <real>193.2080688</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>165.5169067</real>
            <key>y</key>
            <real>377.9041443</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>176.4985962</real>
            <key>y</key>
            <real>528.6561890</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>455.0408630</real>
            <key>y</key>
            <real>573.5824585</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>526.9226685</real>
            <key>y</key>
            <real>340.9648132</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>610.7845459</real>
            <key>y</key>
            <real>489.7200012</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>782.5020752</real>
            <key>y</key>
            <real>522.6661377</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>726.5941162</real>
            <key>y</key>
            <real>349.9501648</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>529.9179688</real>
            <key>y</key>
            <real>192.2096405</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>671.6846313</real>
            <key>y</key>
            <real>215.1719666</real>
        </dict>
    </dict>
</plist>
