<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>705.6281128</real>
            <key>y</key>
            <real>330.9810486</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>83.6518707</real>
            <key>y</key>
            <real>573.5824585</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>249.3787994</real>
            <key>y</key>
            <real>561.6018066</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>511.9472351</real>
            <key>y</key>
            <real>567.5923462</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>702.6328125</real>
            <key>y</key>
            <real>572.5839844</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>169.5106354</real>
            <key>y</key>
            <real>421.8319397</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>257.3652039</real>
            <key>y</key>
            <real>224.1567993</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>354.2066956</real>
            <key>y</key>
            <real>101.3587189</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>823.4345703</real>
            <key>y</key>
            <real>493.7137146</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>567.8551636</real>
            <key>y</key>
            <real>224.1567993</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>482.9948425</real>
            <key>y</key>
            <real>125.3194885</real>
        </dict>
    </dict>
</plist>
