<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>251.0000000</real>
            <key>y</key>
            <real>448.0000000</real>
        </dict>
        <key>36</key>
        <dict>
            <key>x</key>
            <real>562.0000000</real>
            <key>y</key>
            <real>101.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>24.0000000</real>
            <key>y</key>
            <real>129.0000000</real>
        </dict>
        <key>35</key>
        <dict>
            <key>x</key>
            <real>501.0000000</real>
            <key>y</key>
            <real>94.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>44.0000000</real>
            <key>y</key>
            <real>179.0000000</real>
        </dict>
        <key>34</key>
        <dict>
            <key>x</key>
            <real>457.0000000</real>
            <key>y</key>
            <real>92.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>68.0000000</real>
            <key>y</key>
            <real>235.0000000</real>
        </dict>
        <key>33</key>
        <dict>
            <key>x</key>
            <real>405.0000000</real>
            <key>y</key>
            <real>99.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>85.0000000</real>
            <key>y</key>
            <real>281.0000000</real>
        </dict>
        <key>32</key>
        <dict>
            <key>x</key>
            <real>353.0000000</real>
            <key>y</key>
            <real>98.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>100.0000000</real>
            <key>y</key>
            <real>309.0000000</real>
        </dict>
        <key>31</key>
        <dict>
            <key>x</key>
            <real>279.0000000</real>
            <key>y</key>
            <real>99.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>134.0000000</real>
            <key>y</key>
            <real>347.0000000</real>
        </dict>
        <key>30</key>
        <dict>
            <key>x</key>
            <real>221.0000000</real>
            <key>y</key>
            <real>127.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>172.0000000</real>
            <key>y</key>
            <real>390.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>213.0000000</real>
            <key>y</key>
            <real>431.0000000</real>
        </dict>
        <key>29</key>
        <dict>
            <key>x</key>
            <real>215.0000000</real>
            <key>y</key>
            <real>168.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>298.0000000</real>
            <key>y</key>
            <real>480.0000000</real>
        </dict>
        <key>28</key>
        <dict>
            <key>x</key>
            <real>228.0000000</real>
            <key>y</key>
            <real>214.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>349.0000000</real>
            <key>y</key>
            <real>494.0000000</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>398.0000000</real>
            <key>y</key>
            <real>504.0000000</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>464.0000000</real>
            <key>y</key>
            <real>514.0000000</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>519.0000000</real>
            <key>y</key>
            <real>506.0000000</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>572.0000000</real>
            <key>y</key>
            <real>495.0000000</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>618.0000000</real>
            <key>y</key>
            <real>475.0000000</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>643.0000000</real>
            <key>y</key>
            <real>418.0000000</real>
        </dict>
        <key>21</key>
        <dict>
            <key>x</key>
            <real>607.0000000</real>
            <key>y</key>
            <real>256.0000000</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>653.0000000</real>
            <key>y</key>
            <real>373.0000000</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>630.0000000</real>
            <key>y</key>
            <real>292.0000000</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>650.0000000</real>
            <key>y</key>
            <real>334.0000000</real>
        </dict>
        <key>22</key>
        <dict>
            <key>x</key>
            <real>572.0000000</real>
            <key>y</key>
            <real>237.0000000</real>
        </dict>
        <key>23</key>
        <dict>
            <key>x</key>
            <real>516.0000000</real>
            <key>y</key>
            <real>233.0000000</real>
        </dict>
        <key>24</key>
        <dict>
            <key>x</key>
            <real>462.0000000</real>
            <key>y</key>
            <real>222.0000000</real>
        </dict>
        <key>25</key>
        <dict>
            <key>x</key>
            <real>412.0000000</real>
            <key>y</key>
            <real>223.0000000</real>
        </dict>
        <key>26</key>
        <dict>
            <key>x</key>
            <real>331.0000000</real>
            <key>y</key>
            <real>240.0000000</real>
        </dict>
        <key>27</key>
        <dict>
            <key>x</key>
            <real>276.0000000</real>
            <key>y</key>
            <real>234.0000000</real>
        </dict>
        <key>37</key>
        <dict>
            <key>x</key>
            <real>594.0000000</real>
            <key>y</key>
            <real>114.0000000</real>
        </dict>
        <key>38</key>
        <dict>
            <key>x</key>
            <real>669.0000000</real>
            <key>y</key>
            <real>125.0000000</real>
        </dict>
        <key>39</key>
        <dict>
            <key>x</key>
            <real>719.0000000</real>
            <key>y</key>
            <real>155.0000000</real>
        </dict>
        <key>40</key>
        <dict>
            <key>x</key>
            <real>754.0000000</real>
            <key>y</key>
            <real>202.0000000</real>
        </dict>
        <key>41</key>
        <dict>
            <key>x</key>
            <real>775.0000000</real>
            <key>y</key>
            <real>256.0000000</real>
        </dict>
        <key>42</key>
        <dict>
            <key>x</key>
            <real>772.0000000</real>
            <key>y</key>
            <real>313.0000000</real>
        </dict>
        <key>43</key>
        <dict>
            <key>x</key>
            <real>779.0000000</real>
            <key>y</key>
            <real>397.0000000</real>
        </dict>
        <key>44</key>
        <dict>
            <key>x</key>
            <real>796.0000000</real>
            <key>y</key>
            <real>454.0000000</real>
        </dict>
        <key>45</key>
        <dict>
            <key>x</key>
            <real>828.0000000</real>
            <key>y</key>
            <real>503.0000000</real>
        </dict>
        <key>46</key>
        <dict>
            <key>x</key>
            <real>862.0000000</real>
            <key>y</key>
            <real>535.0000000</real>
        </dict>
        <key>47</key>
        <dict>
            <key>x</key>
            <real>884.0000000</real>
            <key>y</key>
            <real>567.0000000</real>
        </dict>
        <key>48</key>
        <dict>
            <key>x</key>
            <real>919.0000000</real>
            <key>y</key>
            <real>591.0000000</real>
        </dict>
    </dict>
</plist>
