<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>543.8949585</real>
            <key>y</key>
            <real>170.2457275</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>292.3081665</real>
            <key>y</key>
            <real>509.6875610</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>450.0487061</real>
            <key>y</key>
            <real>546.6268921</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>507.9535217</real>
            <key>y</key>
            <real>402.8628235</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>274.3374634</real>
            <key>y</key>
            <real>324.9909668</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>149.5430603</real>
            <key>y</key>
            <real>322.9946289</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>315.2699890</real>
            <key>y</key>
            <real>437.8057861</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>511.9472351</real>
            <key>y</key>
            <real>463.7629089</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>688.6569214</real>
            <key>y</key>
            <real>481.7336121</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>494.9749756</real>
            <key>y</key>
            <real>221.1620331</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>547.8875732</real>
            <key>y</key>
            <real>319.0009155</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>451.0471497</real>
            <key>y</key>
            <real>293.0438232</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>443.0607605</real>
            <key>y</key>
            <real>379.9010010</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>395.1392212</real>
            <key>y</key>
            <real>435.8089294</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>326.2527466</real>
            <key>y</key>
            <real>309.0176697</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>302.2914429</real>
            <key>y</key>
            <real>189.2143402</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>146.5477600</real>
            <key>y</key>
            <real>180.2289886</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>455.0408630</real>
            <key>y</key>
            <real>182.2258453</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>287.3160095</real>
            <key>y</key>
            <real>96.3676224</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>360.1962280</real>
            <key>y</key>
            <real>96.3676224</real>
        </dict>
    </dict>
</plist>
