<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>164.5184784</real>
            <key>y</key>
            <real>504.6954041</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>715.6124268</real>
            <key>y</key>
            <real>435.8089294</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>379.1653748</real>
            <key>y</key>
            <real>168.2488708</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>479.0011292</real>
            <key>y</key>
            <real>584.5641479</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>213.4384460</real>
            <key>y</key>
            <real>319.0009155</real>
        </dict>
    </dict>
</plist>
